<h1>Editing term_count</h1>

<% form_for(@term_count) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :tweet_id %><br />
    <%= f.text_field :tweet_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @term_count %> |
<%= link_to 'Back', term_counts_path %>